@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';


// ------ HEADER ------ //
.header {

    // .header__inner
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 120px;
    }

    // .header__btn
    &__btn {
        background-color: transparent;
        padding: 0;

        cursor: pointer;
        border: none;
    }
}

.menu {
    padding-right: 15px;

    // .menu__list
    &__list {
        display: flex;

        // .menu__list-item
        &-item {
            padding-right: 45px;
            padding-left: 35px;
        }

        // .menu__list-link
        &-link {
            font-family: $font_montserrat;
            line-height: 22px;

            color: rgba(54, 56, 56, 0.9033);
        }
    }
}

.logo {
    margin-left: auto;
    margin-right: auto;
}

.rightside-menu {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;

    padding-top: 40px;

    max-width: 694px;
    width: 100%;

    box-shadow: -2px 3px 17px 0px $color_black;

    background-color: #fff;

    transition: all 0.5s;

    z-index: 5;

    // .rightside-menu__close
    &__close {
        background-color: transparent;

        border: none;
        outline: none;

        padding: 0;
        margin-left: 50px;
        margin-bottom: 60px;

        cursor: pointer;

    }

    // .rightside-menu__content
    &__content {
        text-align: center;
        max-width: 485px;

        margin: 0 auto;
    }

    // .rightside-menu__logo
    &__logo {
        display: inline-block;

        margin-bottom: 41px;
    }

    // .rightside-menu__title
    &__title {
        font-family: $font_montserrat;
        font-size: 36px;
        line-height: 51px;
        font-weight: 700;

        color: $color_black;

        margin-bottom: 35px;

        position: relative;

        &::after {
            content: '';
            width: 252px;
            height: 1px;

            position: absolute;
            top: 65px;
            left: 25%;

            background-color: #6D7278;
        }
    }

    // .rightside-menu__text
    &__text {
        margin-bottom: 75px;
    }

    // .rightside-menu__image
    &__image {
        max-width: 485px;
    }

    // .rightside-menu.rightside-menu--close
    &.rightside-menu--close {
        transform: translateX(500%);
    }
}

// ------ TOP ------ //
.top {

    // .top__inner
    &__inner {
        padding-bottom: 70px;

        position: relative;

        &::after {
            content: '';
            position: absolute;
            background-image: url(../images/top/main_slider-bg.jpg);
            width: 100%;
            height: 722px;
            top: 0;
            z-index: -1;
        }
    }

    // .top__slider
    &__slider {

        // .top__slider-item
        &-item {
            // added !important to replace display: inline-block from .top__slider-item in HTML that was added by slick.js
            display: flex !important;
            justify-content: center;
        }

        // .top__slider-img
        &-img {
            margin-left: -10%;
            max-width: 703px;
            max-height: 815px;
            object-fit: cover;
        }

        // .top__slider-info
        &-info {
            max-width: 635px;
            margin-left: 20px;
            padding-top: 185px;
        }

        // .top__slider-title
        &-title {
            font-family: $font_montserrat;
            font-weight: 700;
            font-size: 110px;
            line-height: 134px;

            color: $color_black;

            margin-bottom: 26px;
            padding-bottom: 26px;

            position: relative;

            &::after {
                content: '';
                width: 185px;
                height: 1px;

                position: absolute;
                left: 0;
                bottom: 0;

                background-color: #6D7278;
            }
        }

        // .top__slider-text
        &-text {
            max-width: 585px;
        }
    }
}

// ------ FOOTER ------ //
.footer {
    background-color: $color_grey;

    // .footer__inner
    &__inner {
        display: flex;
        justify-content: space-between;
    }

    // .footer__content
    &__content {
        padding: 60px 0 80px;
    }

    // .footer__contacts
    &__contacts {
        width: 540px;

        // .footer__contacts-title
        &-title {
            font-family: $font_montserrat;
            font-weight: 700;
            line-height: 23px;

            color: $color_dark-grey;

            margin-bottom: 14px;
        }

        // .footer__contacts-text
        &-text {
            color: $color_dark-grey;

            max-width: 475px;

            margin-bottom: 16px;
        }

        // .footer__contacts-email
        &-email {
            color: $color_black;

            font-weight: 600;
            font-size: 14px;

            display: inline-block;

            padding-left: 30px;
            margin-bottom: 22px;

            position: relative;

            &::before {
                content: '';
                width: 16px;
                height: 16px;

                background-image: url(../images/footer/icon_mail.svg);
                background-repeat: no-repeat;

                position: absolute;
                left: 0px;
                top: 7px;
            }
        }
    }

    // .footer__form
    &__form {
        display: flex;

        // .footer__form-input
        &-input {
            padding: 6px 10px 6px 18px;

            width: 100%;

            border: 1px solid rgba($color_black, 0.7);
            border-radius: 21px;

            background-color: transparent;

            outline: none;

            &::placeholder {
                color: $color_light-grey;

                font-size: 16px;
                line-height: 28px;
            }
        }

        // .footer__form-btn
        &-btn {
            padding: 6px 12px;
            margin-left: 9px;
            width: 160px;

            background-color: $color_black;
            color: $color_white;

            font-weight: 600;

            border: none;
            border-radius: 21px;

            outline: none;
            cursor: pointer;
        }
    }

    // .footer__social
    &__social {
        font-weight: 600;
        font-size: 14px;
        line-height: 28px;

        width: 125px;

        margin-right: auto;
        margin-left: 100px;

        // .footer__social-item
        &-item {
            margin-bottom: 15px;
        }

        // .footer__social-icon
        &-icon {
            width: 16px;
        }

        // .footer__social-link
        &-link {
            display: flex;

            color: $color_light-black;

            & span {
                display: inline;
                padding-left: 15px;
            }
        }
    }

    // .footer__menu
    &__menu {
        font-weight: 600;
        font-size: 14px;
        line-height: 28px;

        margin-right: 60px;

        width: 125px;

        // .footer__menu-item
        &-item {
            margin-bottom: 15px;
        }

        // .footer__menu-link
        &-link {
            color: $color_light-black;
        }
    }

    // .footer__copyright
    &__copyright {
        background-color: $color_black;
        color: #A1A1A1;

        // .footer__copyright-text
        &-text {
            padding: 42px 0px;
            text-align: center;
        }
    }
}